<div class="signup-container">
    <h2 style="margin: auto">Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">UserName:</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
        <div class="error" *ngIf="signupForm.controls['username'].hasError('required') && signupForm.controls['username'].touched">Username is required</div>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
        <div class="error" *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched">Password is required</div>
    </div>
    <div class="form-group">
        <label for="confirm-pwd">Confirm Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
        <div class="error" *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched">Confirm Password is required</div>
    </div>
    <button class="btn" [disabled]="signupForm.invalid">Login</button>
    <div class="msg">You have acount?<a href="/src/app/login/login.component.html">Log in</a></div>
    <div *ngIf="invalidSignupForm" class="error">
        <div>Invalid credentials.</div>
    </div>
    </form>
</div>
