<div class="min-h-full">
  <h1 class="text-3xl font-bold">Manager Space</h1>
  <nav class="bg-purple-800">
    <ul class="flex items-center justify-between h-16">
        
        <li><a routerLink='./create-project'>Add Project</a></li>
        <li><a routerLink='./add-user'>Add User</a></li>
        <li><a routerLink='./users'>Users</a></li>
        <li><a routerLink='./projects'>Projects</a></li>
        <li><button (click)="onLogout()">Logout</button></li>
    </ul>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>

  <div>
    <button class="btn btn-add" (click)="addEvent()">
      Add new
    </button>
  </div>
</div>


  
