<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js" integrity="sha256-xHkYry2yRjy99N8axsS5UL/xLHghksrFOGKm9HvFZIs=" crossorigin="anonymous"></script>
<div class="container">
<div class="row">
    <!-- Start col -->
    <div *ngFor="let user of users" class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body py-5">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid mb-3" alt="user" />
                    </div>
                    <div class="col-lg-9">
                        <h4>{{user.username}}</h4>
                        <div class="button-list mt-4 mb-3">
                            <button type="button" class="btn btn-primary-rgba"><i class="feather icon-message-square mr-2"></i>DELETE</button>
                            <button type="button" class="btn btn-success-rgba"><i class="feather icon-phone mr-2"></i>EDIT</button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">User ID :</th>
                                        <td class="p-1">{{user.id}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Role :</th>
                                        <td class="p-1">{{user.role.label}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Status :</th>
                                        <td class="p-1">{{user.enabled}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Email ID :</th>
                                        <td class="p-1">{{user.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End col -->
    <!-- Start col -->
    <!-- End col -->
    <!-- Start col -->
    <!-- End col -->
    <!-- Start col -->
    
    <!-- End col -->
</div>
</div>