<div>
    <div class="landing-page">
      
      <div class="side-bar">
        <img src="../../assets/default.jpg" alt="user's protrait" class="protrait" width="50" height="50"/>
        <div class="line"></div>
        <!-- <img src="data:image" alt="home" class="icon-home"/> -->
        <fa-icon [icon]="faHome" alt="home" class="icon-home" size="2x"></fa-icon>
        <fa-icon [icon]="faClipboard" alt="assignment" class="icon-assignment" size="2x"></fa-icon>
        <fa-icon [icon]="faQuestionCircle" alt="help_outline" class="icon-helper" size="2x"></fa-icon>
        <fa-icon [icon]="faCog" alt="settings" class="icon-setting" size="2x"></fa-icon>
      </div>
      <span class="text-overview">Overview</span>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Primary color</th>
              <th>Secondary color</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Remove</th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor="let event of events">
              <td>
                <!-- <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.title"
                  (keyup)="refresh.next()"
                /> -->
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                <!-- <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  [(ngModel)]="event.start"
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                /> -->
              </td>
              <td>
                
              </td>
              <td>
                <!-- <button class="btn btn-danger" (click)="deleteEvent(event)">
                  Delete
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <!-- Add subcomponents responsible for displaying and manipulating workspace 
        content and functionality for different identities. -->
        <app-manager></app-manager>
      </div>
      
      <span class="copy-right">© 2020 - All rights reserved</span>
    </div>
  </div>
  
