<nav class="navbar">

    <div class="toolbar">
  
      <ul>
        <li><a class="navbar-brand" href="\home"><span id='logo'>MyAgenda</span></a></li>
        <!-- <li><a href="#">Search</a></li> -->
        <!-- <li><a href="#">Dashboard</a></li> -->
        <!-- <li><a href="#">Demo</a></li> -->
      </ul>
  
      <div id="login">
        <a class="login" href="\login">Login</a>
      </div>
      <button id="start"><a href="\dashboard">Get started</a></button>
    </div>
  </nav>
<router-outlet></router-outlet>