<nav class="navbar">

  <div class="toolbar">

    <ul>
      <li><a class="navbar-brand" href="\home"><span id='logo'>MyAgenda</span></a></li>
    </ul>

    <div id="login">
      <a class="login" href="http://localhost:8090/login">LOGIN</a>
    </div>
    <div id="Signup">
      <a class="Signup" href="\signup">SIGNUP</a>
    </div>
    <button class="btn" id="start" (click)="doStart()">Get started</button>
  </div>
</nav>
<div>
  <div class="landing-page">
    <span class="slogan">
      <span>
        Everyone can become a master of time management
      </span>
      <br />
      <span></span>
    </span>
    <span class="introduce">
      <span>
        Simple operations can achieve time task management between teams.
      </span>
      <br />
      <span></span>
    </span>
    <img src="./assets/agenda.jpg" alt="agenda figure" class="image" />
    <div class="report-part"></div>
    <div class="show-page">
      <img src="./assets/agenda.jpg" alt="show-page1" class="image1" />
      <img src="./assets/agenda.jpg" alt="show-page2" class="image2" />
    </div>
    <span class="mothly-report">Your monthly report</span>
    <span class="words">
      The easiest way to generate your monthly report, you and your company can
      enjoy it.
    </span>
    <div class="image3"></div>
    <span class="gs-free">
      <a href="\dashboard">Get started free</a></span>
    <span class="slogan2">You need it, we make it</span>
    <span class="words1">
      <span>“If you want to contact with our developer,</span>
      <br />
      <span>click the following portraits.”</span>
    </span>
    <div class="line-bottom"></div>
    <img alt="Developer-Mouad" src="../../assets/protrait3.jpg" class="svg1" height="50" width="50"/>
    <span class="name1">Mouad</span>
    <span class="adress1">Télécom Saint Etienne</span>
    <img alt="Developer-Jinda" src="../../assets/protrait2.jpg" class="svg2" height="50" width="50" />
    <span class="name2">Jinda</span>
    <span class="adress2">Télécom Saint Etienne</span>
    <img alt="Developer-Ilham" src="../../assets/protrait1.jpg" class="svg3" height="50" width="50"/>
    <span class="name3">Ilham</span>
    <span class="adress3">Télécom Saint Etienne</span>
    <span class="copy-right">© 2020 - All rights reserved</span>
  </div>
</div>