<nav class="navbar">

  <div class="toolbar">

    <ul>
      <li><a class="navbar-brand" href="\home"><span id='logo'>MyAgenda</span></a></li>
      <!-- <li><a href="#">Search</a></li> -->
      <!-- <li><a href="#">Dashboard</a></li> -->
      <!-- <li><a href="#">Demo</a></li> -->
    </ul>

    <div id="login">
      <a class="login" href="\login">Login</a>
    </div>
    <button id="start"><a href="\dashboard">Get started</a></button>
  </div>
</nav>
<div>
  <div class="landing-page22">
    <span class="slogan">
      <span>
        Everyone can become
      </span>
      <br />
      <span>a master of time management</span>
    </span>
    <span class="introduce">
      <span>
        Simple operations can achieve
      </span>
      <br />
      <span>time task management between teams.</span>
    </span>
    <img src="/src/assets/agenda.jpg" alt="agenda figure" class="image" />
    <div class="report-part"></div>
    <div class="group263604">
      <img src="/src/assets/agenda.jpg" alt="Rectangle4028520" class="image1" />
      <img src="/src/assets/agenda.jpg" alt="Rectangle462875" class="image2" />
    </div>
    <span class="mothly-report">Your monthly report</span>
    <span class="words">
      The easiest way to generate your monthly report, you and your company can
      enjoy it.
    </span>
    <div class="image3"></div>
    <span class="gs-free">Get started free</span>
    <span class="slogan2">You need it, we make it</span>
    <span class="words1">
      <span>“If you want to contact with our developer,</span>
      <br />
      <span>click the following portraits.”</span>
    </span>
    <div class="line-bottom"></div>
    <img alt="Ellipse5586" src="g" class="svg1" />
    <span class="name1">Mouad</span>
    <span class="adress1">Télécom Saint Etienne</span>
    <img alt="Ellipse6589" src="data:image/" class="svg2" />
    <span class="name2">Jinda</span>
    <span class="adress2">Télécom Saint Etienne</span>
    <img alt="Ellipse75812" src="data:image/" class="svg3" />
    <span class="name3">Ilham</span>
    <span class="adress3">Télécom Saint Etienne</span>
    <span class="copy-right">© 2020 - All rights reserved</span>
  </div>
</div>