<table class="gridtable">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Project</th>
        <th>Start Day</th>
        <th>End Day</th>
        <th>Period</th>
        <th>Manager</th>
      </tr>
    </thead>
    <br/>
    <tbody>
      <tr>
        <td>
          {{employee.userId}}
        </td>
        <td>
          {{employee.name}}
        </td>
        <td>
          {{employee.project}}
        </td>
        <td>
          <input type="datetime-local" class="form-control form-date" [(ngModel)]="employee.start"/>
        </td>
        <td>
          <input type="datetime-local" class="form-control form-date" [(ngModel)]="employee.end"/>
        </td>
        <td>
          {{employee.period}}
        </td>
        <td>
          {{employee.manager}}
          
        </td>
        <td>
          <button class="btn btn-print" (click)="printPDF(employee)">
            Download PDF
          </button>
        </td>
      </tr>
    </tbody>
  </table>
