<div class="container-fluid">
  <nav class="navbar navbar-expand-xl bg-dark static-top">
    <div class="container">
      <h3 class="font-weight-bold text-white navbar-brand" >Employee Sapce</h3>
      <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/employee">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink='./time'>Times</a></li>
          <li class="nav-item"><a class="nav-link" routerLink='./add-time'>Add Time</a></li>
          <li class="nav-item"><button (click)="onLogout()">Logout</button></li>
      </ul>
    </div>
    
</nav>

<br/>

<router-outlet></router-outlet>
</div>

