<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Time</h1>
                    <h6>Please enter Date start/End & Project</h6>
                </div>
                <form>
                <form #timeForm="ngForm" (ngSubmit)="onAddTime(timeForm)">
                        <div class="form-group">
                          <label for="date_start">Start date</label>
                          <input ngModel name="date_start" type="datetime-local" class="form-control" id="date_start">
                          <small id="date_start" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="date_end">End date</label>
                            <input ngModel name="date_end" type="datetime-local" class="form-control" id="dateEnd"  placeholder="Enter Title">
                            <small id="date_end" class="form-text text-muted"></small>
                          </div>
                    <!--
                        <div class="form-group">
                            <label for="projectId">Project Id</label>
                            <input ngModel name="projectId" class="form-control" id="projectId"/>
                        </div>-->
                        <div class="form-group">
                            <select #cricket (change)="update($event)">
                                <option value="default">----</option>
                                <option *ngFor="let player of projects" [value]="player.id">
                                    {{player.title}}
                                </option>
                            </select>
                        </div>
                        <p>You selected {{selected}}</p>
                        <button [disabled]="timeForm.invalid"type="submit" class="btn btn-primary">Submit</button>
                </form>
            </form>
            </div>
        </div>
    </div>
</div>
